.root {
  height: 100%;
  background-color: #f1f1f1;
}

.groupButton {
  width: 20px;
  height: 20px;
  background-color: #f1f1f1;
  border: solid 1px #c3c3c3;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.groupButton {
  font-size: 18px;
  z-index: 1;
}

.verticalLine {
  position: absolute;
  left: calc(50% - 1px);
  border-bottom: solid 2px #a9a9a9;
  border-left: solid 2px #a9a9a9;
}

.horizontalLine {
  position: absolute;
  top: calc(50% - 1px);
  border-top: solid 2px #a9a9a9;
  border-right: solid 2px #a9a9a9;
}