.root
  color: #212529
  border-spacing: 0
  font-size: 14px

  thead th
    text-align: center
    border-bottom: 2px solid #dee2e6
    border-right: 1px solid #dee2e6

  td
    position: relative
    border-bottom: solid 1px #dee2e6
    border-right: 1px solid #dee2e6
  td, th
    padding: 4px 6px

.resizer
  position: absolute
  z-index: 1
  user-select: none
.column-resizer
  right: 0
  top: 0
  bottom: 0
  width: 8px
  border-right: solid 1px #dee2e6
  cursor: col-resize
.row-resizer
  left: 0
  right: 0
  bottom: 0
  height: 8px
  cursor: ns-resize

.fix-column
  background-color: #fff
  z-index: 3

.fix-row
  background-color: #fff
  z-index: 2

.fix-row.fix-column
  z-index: 4

.tbody .last-fix-column
  border-right: solid 1px #dee2e6